@use "../utils/" as u;

.error-message {
  padding: u.rem(10);
  background-color: var(--color-red);
  border-radius: var(--rounded-s);
  margin-bottom: u.rem(20);
  color: var(--color-white);
  font-size: u.rem(12);
}
